.enlace {
    padding-left: 8px; /* izquierda */
    padding-right: 8px; /* derecha */
    padding-top: 8px; /* arriba */
    padding-bottom: 8px; /* abajo */
    border-radius: 4px;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.body-principal{
    background: #22C1C3;
    background: linear-gradient(46deg, rgba(34, 193, 195, 1) 0%, rgba(171, 111, 32, 1) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body-catalogo{
    background: #bf6089;
background: radial-gradient(circle, rgba(191, 96, 137, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
