.card{
    width: 200px;
}

.contenedor{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.tarjeta{ 
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgba(165, 42, 42, 0.6);
    height: 400px;
}

.tarjeta-titulo{ 
    font-size: 16px
}

.tarjeta-cuerpo{ 
    font-size: 8px;
}